body { font-family:"Arial",Helvetica,Sans-serif;}

select{
	padding: 5px;
	font-size: 16px;
	font-weight: bold;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

input{
	padding: 5px;
	font-size: 16px;
	font-weight: bold;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

button{
	padding: 5px;
	font-size: 16px;
	font-weight: bold;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

#container{
	background-color: #FFF;
}

#header{
	margin: 0 0 10px 0;
}
#mainbody{
	clear: both;
}

#canListingForm{
	float: right;
	margin: 10px 0 0 0;
}

#canListingForm label{
	margin: 0 20px 0 0;
	display: inline-block;
}

#skuSearchForm{
	float: right;
	display: inline;
	margin: 10px 0 0 50px;
}

#skuSearchForm label{
	margin: 0 20px 0 0;
	display: inline-block;
}

#pallet-table{
	width: 100%;
}

#tabs{
	height: auto;
}

#results{
	height: auto;
}